<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="poly.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="bg-secondary-subtle">
    <section class="bsb-hero-5 px-3" style="background-image: url('Images/header.PNG');">
        <div style="min-height: 550px;" class="container-fluid position-relative d-flex align-items-center">
            <div class="container-xxl">
                <div class="">
                    <div style="height: 100%;" class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7 d-flex">
                        <div style="width: 620px;"
                            class=" col-md-5 p-lg-5 text-white  box-content-banner bg-banner1 rounded-4 p-3">
                            <h3 class="fw-bold mb-4">Poly Tour: Du lịch có Guu
                            </h3>
                            <p class="">
                                <span class="col-12 col-sm-10 col-md-8 col-xxl-7">Poly Tour là đội ngũ với hơn 12 năm
                                    kinh
                                    nghiệm điều hành tour.
                                    Chúng tôi đã đi qua 65 quốc gia, 270 thành phố và phục vụ hơn 120 đơn vị.</span>
                            </p>
                            <p class="fw-bold ">
                                <span class="col-12 col-sm-10 col-md-8 col-xxl-7">Không chỉ thiết kế tour, chúng tôi
                                    thiết
                                    kế trải nghiệm trên mỗi chuyến đi.</span>
                            </p>
                            <div class="d-grid gap-3 d-sm-flex mt-2">
                                <div class=" text-white fs-6 fw-semibold btn bsb-btn-2xl bg-color-main rounded-4">
                                    <a class="text-decoration-none text-white" href="../ASM/lichtrinhtour.html">Lịch
                                        Tour</a>
                                </div>
                                <div
                                    class="text-white button-color  fs-6 fw-semibold btn bsb-btn-2xl btn-outline rounded-4 border border-2">
                                    Tư vấn ngay
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
            
                <div class="container mt-3 mb-3">
                    <h3  class="">DU LỊCH TRONG NƯỚC</h3>
                    <div class="col-sm-6">
                        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-secondary-subtle">
                            <div class="container-fluid">
                              <a class="navbar-brand text-secondary" href="trangchu.html">Trang chủ /</a>
                              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                              <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                  <li class="nav-item">
                                    <a class="nav-link active text-bg-danger" aria-current="page" href="#!dulichtrongnuoc">DU LỊCH TRONG NƯỚC</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </nav>
                    </div>
                </div>
                
            
    <div class="container ">
        <div class="row">
            <aside class="container col-md-8">
                <div class="row">
                    
                        <div class="bg-white mb-3">
                            <h2>TOUR DU LỊCH TRONG NƯỚC</h2>
                            <input class="form-control me-2 w-25" type="search" placeholder="Tìm kiếm" aria-label="Search" ng-model="search">
                        </div>
                        <div class="mb-3">
                            <button type="button"class="btn btn-outline-secondary"  ng-click="tang()">Giá từ thấp đến cao <i class="bi bi-arrow-up"></i></button>
                            <button type="button"class="btn btn-outline-success"  ng-click="giam()">Giá từ cao đến thấp <i class="bi bi-arrow-down"></i></button>
                        </div>
                        <div class="col-sm-4 "  ng-repeat="p in products | filter: 'TRONGNUOC'| filter: search | orderBy : sort">       
                                <div class="card">
                                    <img ng-src="Images/{{p.image}}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{p.name}}</h5>
                                        
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Phương Tiện: </li>
                                        <li class="list-group-item">Thời gian: {{p.time}}</li>
                                        <li class="list-group-item">Lịch trình: {{p.lichtrinh}}</li>
                                    </ul>
                                    <div class="card-body text-center">
                                        <span class=""> Giá Chỉ Từ: </span>
                                        <a href="#" class="card-link">
                                            <h1><span class="text-danger badge">{{p.price}}</span></h1>
                                        </a>
                                        <a href="#!detail/{{p.id}}" type="button" class="btn btn-outline-primary">{{p.click}}</a>
                                    </div>
                                </div>
                            
                            </div>
                       
                </div>
                
            </aside>
            <article class="col-md-4 ">
                <h2>LỊCH TRÌNH</h2>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <h6 class="text-dark">NƠI KHỞI HÀNH</h6>
                            </button>
                        </h2>
                        <div class="mt-2 ms-2">
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"> <h5>TP.HỒ CHÍ MINH</h5></label>
                              </div>
                        </div>   <hr>
                        <div class="mt-2 ms-2">
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"> <h5>ĐÀ NẴNG</h5></label>
                              </div>
                        </div>  <hr>    
                        <div class="mt-2 ms-2">
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"> <h5>HÀ NỘI</h5></label>
                              </div>
                        </div>          <hr> 
                        <div class="mt-2 ms-2">
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"> <h5>HẢI PHÒNG</h5></label>
                              </div>
                        </div>        
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne1" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                <h6 class="text-info">NƠI ĐẾN</h6>
                            </button>
                        </h2>
                        <div id="flush-collapseOne1" class="accordion-collapse collapse text-center"
                            data-bs-parent="#accordionFlushExample">   
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>BÀ NÀ</h5></label>
                                  </div>
                            </div>   <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>BẠC LIÊU</h5></label>
                                  </div>
                            </div>  <hr>    
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>CÀ MAU</h5></label>
                                  </div>
                            </div>          <hr> 
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>CẦN THƠ</h5></label>
                                  </div>
                            </div>        <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>CHÂU ĐỐC</h5></label>
                                  </div>
                            </div>   <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>ĐÀ LẠT</h5></label>
                                  </div>
                            </div>  <hr>    
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>HẠ LONG</h5></label>
                                  </div>
                            </div>          <hr> 
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>HẢI PHÒNG</h5></label>
                                  </div>
                            </div>        <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>PHAN THIẾT</h5></label>
                                  </div>
                            </div>   <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>HUẾ</h5></label>
                                  </div>
                            </div>  <hr>    
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>LÀO CAI</h5></label>
                                  </div>
                            </div>          <hr> 
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>PHÚ QUỐC</h5></label>
                                  </div>
                            </div>        <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>PHÚ YÊN</h5></label>
                                  </div>
                            </div>   <hr>
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>BÌNH ĐÌNH</h5></label>
                                  </div>
                            </div>  <hr>    
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>ĐỒNG THÁP</h5></label>
                                  </div>
                            </div>          <hr> 
                            <div class="mt-2 ms-2">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1"> <h5>HỘI AN</h5></label>
                                  </div>
                            </div>        
                        </div>
                    </div>
            
            
                </div>
            </article>
        </div>
        
    </div>
    <div class="container mt-3">
        <div class="text-center">
            <h1 class="text-danger">DU LỊCH TRONG NƯỚC</h1>
        </div>
        <div class="container">
            <div class="container justify-content-center ">
                <div id="carouselExample1" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-content d-flex justify-content-between">
                                <div class="content-item">
                                    <div class="image-content c">
                                        <img src="Images/nhatrang.jpg" class=" img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="content-item">
                                    <div class="image-content ">
                                        <img src="Images/condao1.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="content-item">
                                    <div class="image-content">
                                        <img src="Images/taybac.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="content-item">
                                    <div class="image-content">
                                        <img src="Images/hanoi.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-content d-flex justify-content-between">
                                <div class="content-item">
                                    <div class="image-content">
                                        <img src="Images/nhatrang.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="content-item">
                                    <div class="image-content">
                                        <img src="Images/danang.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="content-item">
                                    <div class="image-content">
                                        <img src="Images/nhatrang.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                                <div class="content-item">
                                    <div class="image-content">
                                        <img src="Images/condao1.jpg" class="img-fluid d-block w-100 rounded-circle"
                                            alt="...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample1"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample1"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <aside class="container mt-5 mb-5">
        <div class="mb-3 text-center ">
            <label for="basic-url" class="form-label">
                <h4><i class="bi bi-telephone-inbound-fill"></i> Vui Lòng Nhập số điện thoại để chúng tôi có thể tư vấn
                </h4>
            </label>
            <div class="input-group">
                <button class="btn btn-outline-primary" type="button" id="button-addon2">Xác Nhận số điện
                    Thoại</button>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
            </div>
        </div>
        <iframe class="img-fluid" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.489281769132!2d106.61333337480492!3d10.773788089374841!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c1796228053%3A0xeff89ff340da4452!2zMjI1LzE1LzEgxJAuIEzDqiBWxINuIFF14bubaSwgQsOsbmggVHLhu4sgxJDDtG5nLCBCw6xuaCBUw6JuLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1716369433742!5m2!1svi!2s" width="1300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </aside>
    <footer class="row bg-secondary-subtle ">
        <div class="panel panel-default col-md-4 ">
            <ul>
                <h6>
                    THÔNG TIN LIÊN HỆ
                </h6>
                <p>
                    CÔNG TY CỔ PHẦN DU LỊCH INTERTOUR VIỆT NAM
                </p>
                <p> <span class="text-bg-success badge ms-auto">Trụ sở:</span> 115 Nguyễn Thái Bình, phường Nguyễn Thái
                    Bình, Quận 1, Tp.HCM.</p>
                <p>
                    <span class="text-bg-success badge ms-auto"> Chi Nhánh Miền Tây:</span> 112B đường 3 Tháng 2, phường
                    Hưng Lợi, Quận Ninh Kiều, Tp. Cần Thơ.
                </p>
                <a href="">
                    <p><span class="text-bg-danger badge ms-auto"> Phone: (028) 3822 9999</span></p>
                </a>
                <a href="">
                    <p><span class="text-bg-danger badge ms-auto">Mail: welcome@intertour.com.vn</span></p>
                </a>
                <p>
                    MS Doanh Nghiệp: 0305032648
                    GPLHQT: 79-350/2018/TCDL - GP LHQT
                </p>
            </ul>
        </div>
        <div class="panel panel-default col-md-4">
            <ul>
                <h6>Vì Sao Chọn Chúng Tôi</h6>
                <img src="Images/BO-TROPHIES-DOC.jpg" class="img-fluid img-thumbnail" alt="">
            </ul>
        </div>
        <div class="panel panel-default col-md-4">
            <h6>Đăng ký nhận ưu đãi</h6>
            <p>Bạn mình ơi, cứ hàng tháng thì Intertour đều có những chương trình ưu đãi về giá dịch vụ cũng như các quà
                tặng hấp dẫn nhằm tri ân khách hàng. Để có thể cập nhật kịp thời những thông tin này, vui lòng nhập địa
                chỉ email của bạn vào ô dưới đây, để Intertour có thể gửi cho bạn những chương trình này nhé! Thân, ^_^
            </p>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping"><i class="bi bi-send-check-fill"></i></span>
                <input type="text" class="form-control" placeholder="Nhập địa chỉ email của bạn" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="panel-heading text-center">
            <p>FPT Polytechnic &coppy; 2017. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>